body {
  background: linear-gradient(270deg, #007a33, #ffffff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.comparison {
  text-align: center;
}

.playerName {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  text-align: center;
  padding: 0px;
}

p {
  text-align: center;
}

.roster {
  text-align: center;
}

.btn-link {
  border: 2px solid white;
  border-radius: 30px;

}

.modal-title {
  text-align: center;
}

.col-md-4 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.playerTile {
 margin: 5px;
}

.comparison-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px
}

p { 
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-comparison {
  padding-top: 8px;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: transparent;
}

.add {
  border: transparent;
  background-color: #EFEFEF;
  color: black;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 844px) { 
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .comparison {
    text-align: center;
  }
  
  .playerName {
    text-align: center;
  }
  
  li {
    list-style: none;
  }
  
  ul {
    text-align: center;
    padding: 0px;
  }
  
  p {
    text-align: center;
  }
  
  .roster {
    text-align: center;
  }
  
  .btn-link {
    border: 2px solid white;
    border-radius: 30px;
  
  }
  
  .modal-title {
    text-align: center;
  }
  
  .col-md-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .playerTile {
   margin: 5px;
  }
  
  .comparison-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
  }
  
  p { 
    font-weight: bold;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player-comparison {
    padding-top: 8px;
  }
  
  input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: transparent;
    padding: 0 !important;
  }
  
  .add {
    border: transparent;
    background-color: #EFEFEF;
    color: black;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }